body
{
	font-size: 20px;
}
.lineD
{
	height: 30px;
	border-radius: 12px;
	margin-bottom: 1px;
}
.left
{
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
}
.right
{
	width: 150px;
	padding-left: 10px;
	padding-bottom: 10px;
}